@model ECommerceWebsite.Models.Warehouses

@{
    ViewBag.Title = @Resources.Resource.Delete;
}

<h2>@Resources.Resource.Delete</h2>

<h3>@Resources.Resource.DeleteQuestion</h3>
<div>
    <h4>@Resources.Resource.Warehouses</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WarehouseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WarehouseName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@Resources.Resource.Delete class="btn btn-default" /> |
            @Html.ActionLink(@Resources.Resource.BackToWarehousesList, "Index")
        </div>
    }
</div>
