@model ECommerceWebsite.Models.Warehouses

@{
    ViewBag.Title = @Resources.Resource.Details;
}

<h2>@Resources.Resource.Details</h2>

<div>
    <h4>@Resources.Resource.Warehouses</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WarehouseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WarehouseName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(@Resources.Resource.Edit, "Edit", new { id = Model.WarehouseId }) |
    @Html.ActionLink(@Resources.Resource.BackToWarehousesList, "Index")
</p>
