@model ViewModels.Account.ChangePasswordViewModel

<div class="container container-ver2">
    <div class="page-login box space-50">
        <div class="row">
            <div class="col-md-6 sign-in space-30">
                <div class="register box space-50">
                    @if (ViewBag.IsSuccess == null)
                    {
                        <h3>@Resources.Resource.ChangePasswordLabel</h3>

                        using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="group box space-20">
                                @Html.LabelFor(model => model.OldPassword, Resources.Resource.CurrentPasswordLabel, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control", placeholder = Resources.Resource.CurrentPasswordLabel } })
                                @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                            </div>


                            <div class="group box space-20">
                                @Html.LabelFor(model => model.Password, Resources.Resource.Password, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = Resources.Resource.Password } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>

                            <div class="group box space-20">
                                @Html.LabelFor(model => model.ComparePassword, Resources.Resource.ConfirmNewPassword, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.ComparePassword, new { htmlAttributes = new { @class = "form-control", placeholder = Resources.Resource.ConfirmNewPassword } })
                                @Html.ValidationMessageFor(model => model.ComparePassword, "", new { @class = "text-danger" })
                            </div>

                            <button type="submit" class="link-v1 rt">@Resources.Resource.ChangePasswordButton</button>
                        }
                    }
                    else
                    {
                        <div class="alert alert-success width:160%">@Resources.Resource.ChangePasswordMessage</div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
