<div class="tab-pane fade" id="product_images">
    <div class="row">
        <div class="col-md-12">
            <table id="product-review" class="table">
                <thead>
                    <tr>
                        <th style="min-width:100px">
                            <strong>@Resources.Resource.Preview</strong>
                        </th>
                        <th style="min-width:150px">
                            <strong>@Resources.Resource.Label</strong>
                        </th>
                        <th>
                            <strong>@Resources.Resource.MainImage</strong>
                        </th>
                        @*<th>
                            <strong>@Resources.Resource.Thumbnail</strong>
                        </th>*@
                        <th>
                            <strong>@Resources.Resource.Gallery</strong>
                        </th>
                        <th class="text-center">
                            <strong>@Resources.Resource.Actions</strong>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @*<tr>
                        <td style="width:20%">
                            <a href="/Areas/Admin/assets/img/gallery/animal1.jpg" class="magnific" title="Nature 1">
                                <img src="/Areas/Admin/assets/img/gallery/animal1.jpg" alt="animal1" class="img-responsive">
                            </a>
                        </td>
                        <td>
                            <input type="text" class="form-control m-t-10" value="Product 1 main image">
                        </td>
                        <td>
                            <div class=" ui-radio"><input type="radio" name="product1-main" value="1" class="m-t-10" checked=""></div>
                        </td>
                        <td>
                            <div class=" ui-radio"><input type="radio" name="product1-main" value="1" class="m-t-10"></div>
                        </td>
                        <td>
                            <div class=" ui-radio"><input type="radio" name="product1-main" value="1" class="m-t-10"></div>
                        </td>
                        <td class="text-center">
                            <a href="#" class="delete-img btn btn-sm btn-default m-t-10"><i class="fa fa-times-circle"></i> Remove</a>
                        </td>
                    </tr>*@
                </tbody>
            </table>
        </div>
    </div>
</div>