@model ECommerceWebsite.Models.Products

@*@{
        ViewBag.Title = "Edit";
    }

    <h2>Edit</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Products</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ProductId)

            <div class="form-group">
                @Html.LabelFor(model => model.CategoryId, "CategoryId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SubCategoryId, "SubCategoryId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("SubCategoryId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SubCategoryId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ShortDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ShortDescription, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ShortDescription, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ImageName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ImageName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ImageName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Fee, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Fee, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Fee, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CreatedDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CreatedDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CreatedDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@


@section Styles
{
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link href="~/Areas/Admin/assets/plugins/jQuery-File-Upload-9.18.0/css/jquery.fileupload.css" rel="stylesheet" />
    <link href="~/Areas/Admin/assets/plugins/jQuery-File-Upload-9.18.0/css/jquery.fileupload-ui.css" rel="stylesheet" />
    <!-- CSS adjustments for browsers with JavaScript disabled -->
    <noscript><link href="~/Areas/Admin/assets/plugins/jQuery-File-Upload-9.18.0/css/jquery.fileupload-noscript.css" rel="stylesheet" /></noscript>
    <noscript><link href="~/Areas/Admin/assets/plugins/jQuery-File-Upload-9.18.0/css/jquery.fileupload-ui-noscript.css" rel="stylesheet" /></noscript>
}

@using (Html.BeginForm("Edit", "Products", FormMethod.Post, new { @id = "form1", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.ProductId)
    @Html.HiddenFor(model => model.ImageName)
    @Html.HiddenFor(model => model.SubCategoryId)
    @Html.HiddenFor(model => model.FurtherSubCategoryId)
    @Html.HiddenFor(model => model.FurthestSubCategoryId)
    <div id="main-content">
        <div class="top-page clearfix">
            <div class="page-title pull-left">
                <i class="icon-custom-left"></i>
                <h3>
                    <img class="m-r-20" src="~/Areas/Admin/assets/img/various/clothing.png" alt="clothing"><strong>@Resources.Resource.Create</strong> <strong>@Resources.Resource.Or</strong><strong> @Resources.Resource.EditProduct</strong>
                </h3>
                <br>
            </div>

            <div id="addImage" hidden class="pull-right">
                <input type="file" id="imageUpload" name="imageUpload" class="filestyle" multiple tabindex="-1" style="position: absolute; clip: rect(0 0 0 0);">
                <div class="bootstrap-filestyle input-group">
                    <span class="group-span-filestyle " tabindex="0">
                        <label for="imageUpload" class="btn btn-primary m-t-10">
                            <span class="icon-span-filestyle fa fa-plus"></span>
                            <span class="buttonText"> @Resources.Resource.AddAnImage</span>
                        </label>
                    </span>
                </div>
            </div>

            @*<div id="addImage" hidden class="pull-right">
                <a class="btn btn-primary m-t-10">
                <i class="fa fa-plus p-r-10"></i> @Resources.Resource.AddAnImage
                </a>
                </div>*@
            @*<div id="addImage" hidden class="pull-right">
                <i class="fa fa-plus p-r-10"></i> @Resources.Resource.AddAnImage
                <input type="file" multiple />
                </div>*@

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="tabcordion">
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active otherTabs"><a href="#product_general" data-toggle="tab">@Resources.Resource.General</a></li>
                        <li class="otherTabs"><a href="#product_meta" data-toggle="tab">@Resources.Resource.SEO</a></li>
                        <li id="images"><a href="#product_images" data-toggle="tab">@Resources.Resource.Images</a></li>
                        <li id="features" class="otherTabs"><a href="#product_features" data-toggle="tab">@Resources.Resource.Features</a></li>
                        @*<li class="otherTabs">
                                <a href="#product_reviews" data-toggle="tab">
                                    Reviews
                                    <span class="m-l-10 badge badge-primary">5</span>
                                </a>
                            </li>*@
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="product_general">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">
                                            @Resources.Resource.ProductName <span class="asterisk">*</span>
                                        </label>
                                        <div class="col-sm-7">
                                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", placeholder = @Resources.Resource.ProductName } })
                                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">
                                            @Resources.Resource.Article <span class="asterisk">*</span>
                                        </label>
                                        <div class="col-sm-7">
                                            @Html.EditorFor(model => model.Article, new { htmlAttributes = new { @class = "form-control", placeholder = @Resources.Resource.Article } })
                                            @Html.ValidationMessageFor(model => model.Article, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    @*<div class="form-group">
                                        <label class="col-sm-2 control-label">
                                        Reference <span class="asterisk">*</span>
                                        </label>
                                        <div class="col-sm-7">
                                        <input type="text" class="form-control" value="BG 547 874 587">
                                        </div>
                                        </div>*@
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">
                                            @Resources.Resource.LongDescription
                                        </label>
                                        <div class="col-sm-7">
                                            @Html.TextAreaFor(model => model.Text, 6, 20, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">@Resources.Resource.ShortDescription <span class="asterisk">*</span></label>
                                        <div class="col-sm-7">
                                            @Html.TextAreaFor(model => model.ShortDescription, 4, 20, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.ShortDescription, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Categories <span class="asterisk">*</span></label>
                                        <div class="col-sm-3" id="parentCategoryDiv">
                                            @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control", title = @Resources.Resource.ChooseOneOrMore, style = "display: none", multiple = "multiple", onchange = "FillGenders()" })
                                            @*<select id="CategoryId" multiple="multiple" name="CategoryId" onchange="FillGenders()" style="display: none" title="Choose one or more">
                                                    <optgroup label="Brand">
                                                        @foreach (var item in ViewBag.ParentCategory)
                                                        {
                                                            <option value="@item.CategoryId">@item.CategoryTitle</option>
                                                        }
                                                    </optgroup>
                                                    <optgroup id="addedLabel" label="Gender">
                                                        @foreach (var item in ViewBag.SubCategory)
                                                        {
                                                            <option value="@item.CategoryId">@item.CategoryTitle</option>
                                                        }
                                                    </optgroup>
                                                </select>*@
                                            @*<div class="btn-group bootstrap-select show-tick">
                                                    <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" id="CategoryId" title="@ViewBag.ParentCategoryTitle, @ViewBag.SubCategoryTitle" aria-expanded="false">
                                                        <span class="filter-option pull-left">@ViewBag.ParentCategoryTitle, @ViewBag.SubCategoryTitle</span>&nbsp;<span class="caret"></span>
                                                    </button>
                                                    <div class="dropdown-menu open">
                                                        <ul class="dropdown-menu inner selectpicker" role="menu">
                                                            @{var cls = ""; var dis = "opt"; var cls2 = ""; var dis2 = "opt"; var x = -1; var y = -1; }
                                                            @foreach (var item in ViewBag.ParentCategory)
                                                            {
                                                                x = x + 1;
                                                                if (item.CategoryId == ViewBag.ParentCategoryId) { cls = "selected"; dis = "opt"; }
                                                                else { cls = ""; dis = "opt ui-state-disabled"; }
                                                                <li class=@cls id="@item.CategoryId">
                                                                    @if (x == 0)
                                                                    {
                                                                        <dt><span class="text">Brand</span></dt>
                                                                    }
                                                                    <a tabindex="0" id="@item.CategoryId" class="@dis" style="" onclick="FillGenders()">
                                                                        <span class="text">@item.CategoryTitle</span>
                                                                        <i class="fa fa-check icon-ok check-mark"></i>
                                                                    </a>
                                                                </li>
                                                            }

                                                            @foreach (var item in ViewBag.SubCategory)
                                                            {
                                                                y = y + 1;
                                                                if (item.CategoryId == ViewBag.SubCategoryId) { cls2 = " selected"; dis2 = "opt"; }
                                                                else { cls2 = ""; dis2 = "opt ui-state-disabled"; }
                                                                <li id="@item.CategoryId" class="addedCategory_@y @cls2">
                                                                    @if (y == 0)
                                                                    {
                                                                        <div class="div-contain">
                                                                            <div class="divider"></div>
                                                                        </div>
                                                                        <dt id="addedCategory">
                                                                            <span class="text">Gender</span>
                                                                        </dt>
                                                                    }
                                                                    <a tabindex="0" id="@item.CategoryId" class="@dis2" style="" onclick="FillGenders()">
                                                                        <span class="text">@item.CategoryTitle</span>
                                                                        <i class="fa fa-check icon-ok check-mark"></i>
                                                                    </a>
                                                                </li>
                                                            }
                                                        </ul>
                                                    </div>
                                                </div>*@
                                            @*@Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control", title = @Resources.Resource.ChooseOneOrMore, style = "display: none", multiple = "multiple", onchange = "FillGenders()" })*@
                                            @*<select class="form-control" id="CategoryId" multiple="multiple" name="CategoryId" onchange="FillGenders()" style="display: none" title="Choose one or more">
                                                    <optgroup label="Brand">
                                                        @{var x = ""; var y = "";}
                                                        @foreach (var item in ViewBag.ParentCategory)
                                                        {
                                                            if (ViewBag.ParentCategoryId == item.CategoryId)
                                                            {
                                                                x = "selected";
                                                            }
                                                            else
                                                            {
                                                                x = null;
                                                            }
                                                            <option value="@item.CategoryId" @x>@item.CategoryTitle</option>
                                                        }
                                                    </optgroup>
                                                    <optgroup id="addedLabel" label="Gender">
                                                        @foreach (var item in ViewBag.SubCategory)
                                                        {
                                                            if (ViewBag.SubCategoryId == item.CategoryId)
                                                            {
                                                                y = "selected";
                                                            }
                                                            else
                                                            {
                                                                y = null;
                                                            }
                                                            <option value="@item.CategoryId" @y>@item.CategoryTitle</option>
                                                        }
                                                    </optgroup>
                                                </select>*@


                                        </div>
                                        @*<div class="col-sm-2" id="GendersDiv">
                                                @Html.DropDownList("SubCategoryId", null, htmlAttributes: new { @class = "form-control", title = @Resources.Resource.ChooseOneOrMore, style = "display: none", multiple = "multiple", onchange = "" })
                                            </div>*@

                                        <div class="col-sm-2" id="DivisionDiv">
                                            @Html.DropDownList("SubCategoryId", null, htmlAttributes: new { @class = "form-control", title = @Resources.Resource.ChooseOneOrMore, style = "display: none", multiple = "multiple", onchange = "FillDivisions()" })
                                        </div>

                                        <div class="col-sm-2" id="SportsCodeDiv">
                                            @Html.DropDownList("SubCategoriesId", null, htmlAttributes: new { @class = "form-control", title = @Resources.Resource.ChooseOneOrMore, style = "display: none", multiple = "multiple" })
                                        </div>

                                        @*@Html.Partial("_PartialProductSubCategory")*@
                                        @*<div class="col-sm-3" id="DivisionDiv">
                                            @Html.DropDownList("ddldivision", null, htmlAttributes: new { @class = "form-control", title = @Resources.Resource.ChooseOneOrMore, style = "display: none", multiple = "multiple" })
                                            <select id="ddldivision" name="ddldivision" class="form-control" multiple="multiple"></select>
                                            </div>*@
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">
                                            @Resources.Resource.Fee <span class="asterisk">*</span>
                                        </label>
                                        <div class="col-sm-7">
                                            @Html.EditorFor(model => model.Fee, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Fee, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">
                                            @Resources.Resource.DiscountPercent <span class="asterisk">*</span>
                                        </label>
                                        <div class="col-sm-7">
                                            @Html.EditorFor(model => model.DiscountPercent, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.DiscountPercent, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label m-t-10">
                                            @Resources.Resource.Status <span class="asterisk">*</span>
                                        </label>
                                        <div class="col-sm-7">
                                            <div class="row">
                                                @*<div class="col-md-3">
                                                    <div class="ui-radio">
                                                    <label for="radio1" class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off">
                                                    Online
                                                    </label>
                                                    <input id="radio1" type="radio" name="Status" value="1" checked="" data-cacheval="false" />
                                                    </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                    <div class="ui-radio">
                                                    <label for="radio2" class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off">
                                                    Offline
                                                    </label>
                                                    <input id="radio2" type="radio" name="Status" value="2" data-cacheval="true">
                                                    </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                    <div class="ui-radio">
                                                    <label for="radio3" class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-on">
                                                    Draft
                                                    </label>
                                                    <input id="radio3" type="radio" name="Status" value="3" data-cacheval="false">
                                                    </div>
                                                    </div>*@
                                                @{
                                                    var online = Model.Status == 1 ? new { @checked = "checked", @id = "radio1" } : null;
                                                    var offline = Model.Status == 2 ? new { @checked = "checked", @id = "radio2" } : null;
                                                    var draft = Model.Status == 3 ? new { @checked = "checked", @id = "radio3" } : null;
                                                }

                                                <div class="col-md-3">
                                                    <label class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left">
                                                        @Resources.Resource.Online
                                                        @Html.RadioButtonFor(model => model.Status, "1", online)
                                                    </label>
                                                </div>
                                                <div class="col-md-3">

                                                    <label class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left">
                                                        @Resources.Resource.Offline
                                                        @Html.RadioButtonFor(model => model.Status, "2", offline)
                                                    </label>
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left">
                                                        @Resources.Resource.Draft
                                                        @Html.RadioButtonFor(model => model.Status, "3", draft)
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">
                                            @Resources.Resource.Comment
                                        </label>
                                        <div class="col-sm-7">
                                            @Html.TextAreaFor(model => model.Comment, 5, 20, new { @class = "form-control valid" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="product_meta">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">
                                            @Resources.Resource.MetaTitle <span class="asterisk">*</span>
                                        </label>
                                        <div class="col-sm-7">
                                            @Html.EditorFor(model => model.Product_Tags.FirstOrDefault(p => p.ProductId == Model.ProductId).MetaTitle, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">
                                            @Resources.Resource.MetaDescription <span class="asterisk">*</span>
                                        </label>
                                        <div class="col-sm-7" id="sabr">
                                            @Html.TextAreaFor(model => model.Product_Tags.FirstOrDefault(p => p.ProductId == model.ProductId).MetaDescription, 4, 20, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">
                                            @Resources.Resource.MetaKeywords
                                        </label>
                                        <div class="col-sm-7">
                                            <textarea rows="6" id="metaKeywords" name="metaKeywords" class="form-control">@string.Join("-", Model.Product_Tags.Select(t => t.MetaKeyword).ToList())</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*@Html.Partial("_PartialCreateProductImages")*@
                        <div class="tab-pane fade" id="product_images">
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="product-review" class="table">
                                        <thead>
                                            <tr>
                                                <th style="min-width:100px">
                                                    <strong>@Resources.Resource.Preview</strong>
                                                </th>
                                                <th style="min-width:150px">
                                                    <strong>@Resources.Resource.Label</strong>
                                                </th>
                                                <th>
                                                    <strong>@Resources.Resource.MainImage</strong>
                                                </th>

                                                <th>
                                                    <strong>@Resources.Resource.Gallery</strong>
                                                </th>
                                                <th class="text-center">
                                                    <strong>@Resources.Resource.Actions</strong>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="width:20%">
                                                    <a href="/Areas/Admin/assets/img/gallery/animal1.jpg" class="magnific" title="Nature 1">
                                                        <img src="~/Images/Products/Original/@Model.ImageName" alt="@Model.ImageName" class="img-responsive">
                                                    </a>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control m-t-10" value="@Model.ImageName">
                                                </td>
                                                <td>
                                                    <label class="ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-on m-t-30" style="padding:0em 1em;">
                                                        <input type="radio" name="product-main" class="mainPic0" checked data-cacheval="false" onclick="PicClick(0)">
                                                    </label>
                                                </td>
                                                <td>
                                                    <label class="ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off m-t-30" style="padding:0em 1em;">
                                                        <input type="radio" name="product-main" class="galleryPic0" data-cacheval="false" onclick="PicClick(0)">
                                                    </label>
                                                </td>
                                                <td class="text-center">
                                                    <a id="remove0" onclick="remove(0)" class="delete-img btn btn-sm btn-default m-t-10">
                                                        <i class="fa fa-times-circle"></i> @Resources.Resource.Remove
                                                    </a>
                                                </td>
                                            </tr>

                                            @{var i = 0;}
                                            @foreach (var item in Model.Product_Gallery.Where(p => p.ProductId == Model.ProductId).Where(p => p.ImageName != Model.ImageName))
                                            {
                                                i = i + 1;
                                                var name = "product" + i + "-gallery";
                                                var clsMain = "mainPic" + i;
                                                var clsGallery = "galleryPic" + i;
                                                var id = "remove" + i;
                                                <tr>
                                                    <td style="width:20%">
                                                        <a href="/Areas/Admin/assets/img/gallery/animal1.jpg" class="magnific" title="Nature 1">
                                                            <img src="~/Images/Products/Original/@item.ImageName" alt="@item.ImageName" class="img-responsive">
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control m-t-10" value="@item.ImageName">
                                                    </td>
                                                    <td>
                                                        <label class="ui-corner-all ui-btn-inherit ui-btn-icon-left m-t-30" style="padding:0em 1em;">
                                                            <input type="radio" name=@name class=@clsMain data-cacheval="false" onclick="PicClick(@i)">
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <label class="ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-on m-t-30" style="padding:0em 1em;">
                                                            <input type="radio" name=@name class=@clsGallery cheked data-cacheval="false" onclick="PicClick(@i)">
                                                        </label>
                                                    </td>
                                                    <td class="text-center">
                                                        <a id=@id onclick="remove(@i)" class="delete-img btn btn-sm btn-default m-t-10">
                                                            <i class="fa fa-times-circle"></i> Remove
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="product_features">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">
                                            @Resources.Resource.Features <span class="asterisk">*</span>
                                        </label>
                                        <div class="col-sm-3">
                                            @Html.DropDownList("FeaturesId", null, @Resources.Resource.ChooseOneItem, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                        <div class="col-sm-3">
                                            <select class="form-control" id="FeatureValues" name="FeatureValues">
                                                <option value="">@Resources.Resource.ChooseOneItem</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-1">
                                            <a onclick="AddFeature()" class="btn btn-sm btn-success">
                                                <i class="fa fa-plus"></i> @Resources.Resource.Add
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div id="showFeatures">
                                    @Html.Action("ShowFeatures")
                                </div>
                            </div>
                        </div>
                        @*<div class="tab-pane fade" id="product_reviews">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-tools table-hover">
                                            <thead>
                                                <tr>
                                                    <th style="min-width:70px">
                                                        <strong>Review ID</strong>
                                                    </th>
                                                    <th>
                                                        <strong>Review Date</strong>
                                                    </th>
                                                    <th>
                                                        <strong>User / Client</strong>
                                                    </th>
                                                    <th>
                                                        <strong>Review Content</strong>
                                                    </th>
                                                    <th class="text-center">
                                                        <strong>Status</strong>
                                                    </th>
                                                    <th class="text-center">
                                                        <strong>Actions</strong>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>03/11/2013</td>
                                                    <td>John Addams</td>
                                                    <td>Very good product. Low price. I like it a lot. Thanks! </td>
                                                    <td class="text-center">
                                                        <span class="label label-success w-300">Approved</span>
                                                    </td>
                                                    <td class="text-center">
                                                        <a href="ecommerce_product_view.html" class="edit btn btn-sm btn-default"><i class="fa fa-pencil"></i> Edit</a>
                                                        <a href="#" class="delete btn btn-sm btn-default"><i class="fa fa-times-circle"></i> Remove</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>02/11/2013</td>
                                                    <td>Fred Aster</td>
                                                    <td>I sell my car. Do you want to buy it?</td>
                                                    <td class="text-center">
                                                        <span class="label label-danger w-300">Rejected</span>
                                                    </td>
                                                    <td class="text-center">
                                                        <a href="ecommerce_product_view.html" class="edit btn btn-sm btn-default"><i class="fa fa-pencil"></i> Edit</a>
                                                        <a href="#" class="delete btn btn-sm btn-default"><i class="fa fa-times-circle"></i> Remove</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>01/11/2013</td>
                                                    <td>Mike Johson</td>
                                                    <td>I like this shirt. Quick delivery. </td>
                                                    <td class="text-center">
                                                        <span class="label label-info w-300">Pending</span>
                                                    </td>
                                                    <td class="text-center">
                                                        <a href="ecommerce_product_view.html" class="edit btn btn-sm btn-default"><i class="fa fa-pencil"></i> Edit</a>
                                                        <a href="#" class="delete btn btn-sm btn-default"><i class="fa fa-times-circle"></i> Remove</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td>25/10/2013</td>
                                                    <td>Amanda Taping</td>
                                                    <td>Love it. </td>
                                                    <td class="text-center">
                                                        <span class="label label-success w-300">Approved</span>
                                                    </td>
                                                    <td class="text-center">
                                                        <a href="ecommerce_product_view.html" class="edit btn btn-sm btn-default"><i class="fa fa-pencil"></i> Edit</a>
                                                        <a href="#" class="delete btn btn-sm btn-default"><i class="fa fa-times-circle"></i> Remove</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>5</td>
                                                    <td>20/10/2013</td>
                                                    <td>John Johnson</td>
                                                    <td>Beautiful shirt</td>
                                                    <td class="text-center">
                                                        <span class="label label-success w-300">Approved</span>
                                                    </td>
                                                    <td class="text-center">
                                                        <a href="ecommerce_product_view.html" class="edit btn btn-sm btn-default"><i class="fa fa-pencil"></i> Edit</a>
                                                        <a href="#" class="delete btn btn-sm btn-default"><i class="fa fa-times-circle"></i> Remove</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                    <div class="row">
                        <div class="col-md-12 m-t-20 m-b-40 align-center">
                            <a href="~/Admin/Products" class="btn btn-default m-r-10 m-t-10"><i class="fa fa-reply"></i> @Resources.Resource.Cancel</a>
                            <a onclick="deleteProduct(@Model.ProductId)" class="btn btn-danger m-r-10 m-t-10"><i class="fa fa-times"></i> @Resources.Resource.DeleteProduct</a>
                            @*<a href="ecommerce_products.html" class="btn btn-success m-t-10"><i class="fa fa-check"></i> Save changes</a>*@
                            <button id="btnSubmit" class="btn btn-success m-t-10" type="submit"><i class="fa fa-check"></i> @Resources.Resource.SaveChanges</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="modal fade" id="modal-responsive" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="modalTitle"></h4>
            </div>
            <div class="modal-body" id="modalBody">

            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Areas/Admin/assets/plugins/jQuery-File-Upload-9.18.0/js/vendor/jquery.ui.widget.js"></script>
    <script src="~/Areas/Admin/assets/plugins/jQuery-File-Upload-9.18.0/js/jquery.iframe-transport.js"></script>
    <script src="~/Areas/Admin/assets/plugins/jQuery-File-Upload-9.18.0/js/jquery.fileupload.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/My Scripts/DeleteProduct.js"></script>
    <script src="~/Scripts/My Scripts/AddImage.js"></script>
    <script>
        var brandCount = @ViewBag.brandCount;
    </script>
    <script src="~/Scripts/My Scripts/EditProducts.js"></script>
}